
<%=form_tag team_path, :method => 'get' do%>
	<p>
	<%=check_box_tag 'input[]', 'hello'%>
	<%=label_tag :goals%>
	<%= number_field_tag :goals , params[:goals]%>
	<%=label_tag :assists%>
	<%= number_field_tag :assists , params[:assists], min: 1, max:2%>
	<%=label_tag :plus_minus%>
	<%= number_field_tag :plus_minus , params[:plus_minus], min: 1, max:2%>
	<%=label_tag :pim%>
	<%= number_field_tag :pim , params[:pim], min: 1, max:2%>
	<%=label_tag :ppg%>
	<%= number_field_tag :ppg , params[:ppg], min: 1, max:2%>
	<%=label_tag :ppa%>
	<%= number_field_tag :ppa , params[:ppa], min: 1, max:2%>
	<%=label_tag :shg%>
	<%= number_field_tag :shg , params[:shg], min: 1, max:2%>
	<%=label_tag :sha%>
	<%= number_field_tag :sha , params[:sha], min: 1, max:2%>
	<%=label_tag :gwg%>
	<%= number_field_tag :gwg , params[:gwg], min: 1, max:2%>
	<%=label_tag :shots%>
	<%= number_field_tag :shots , params[:shots], min: 1, max:2%>
	<%=label_tag :hits%>
	<%= number_field_tag :hits , params[:hits], min: 1, max:2%>
	<%=label_tag :blocks%>
	<%= number_field_tag :blocks , params[:blocks], min: 1, max:2%>

	<%= submit_tag "Search", :name=>nil %>

	</p>
	<% end %>
	<ul>
	<%=@team.name%>
		<% for team in @teams %>
		<li>
			<%=team.name%>
		</li>
		<% end %>
	</ul>
